[DEFAULT]

#input and output file paths and some tag and model resolution info
print_updatelog = yes
print_framesummary = yes
out_path = ./ 
protid = aa 
psf = ../traj/newbox.gro
# orig_aa_pdb should be a native structure 
orig_aa_pdb = setup/2ww4_chain_a_rebuilt_mini.pdb 
model_res = aa
bt_contact_pot_file = setup/bt_contact_potential.dat
cg_ref_crd = nan

#window size used for determining residues near entaglement
window_size = 5

#domains to analyze
dom_def = nan
sec_elems_file_path = setup/2ww4_sec_structure.txt
termini_threshold = 5,5

#analyze only the reference PDB
ref_only = False

#resid mask for fraction of native contacts, rmsd, and structural overlap analysis
#domain_name:'commda_sep_list_resids'-'df_label'
resid_masks = nan


#rmsd mask. either ([nan], [2struct], or [domain_name:'comma_sep_list_resids'])
rmsd_masks = nan

#method to use when finding entangled residues for native contacts
#with a non-zero total linking number [1,2]
#see Generation of entanglement metric distributions and use as an order parameter for protein folding.pdf
#for more details (default is 2)
ent_res_method = 2

#which analysis to do
[ANALYSIS]

fraction_native_contact_analysis = yes
fraction_native_contacts_wchngent_analysis = yes
entanglement_analysis = yes
rmsd_analysis = yes
struct_overlap_analysis = no
